@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@tailwind base;
@tailwind utilities;
/* @tailwind components; */

@layer base {

   :root{
      --Red: 255 0 81; 
      --Dark: 9 11 16;
      --Teal: 167 241 225;
      --White: 225 225 225;
   }

   /* HTML */
   body {
      @apply
      overflow-x-hidden
      w-screen h-screen
      font-light text-lg font-Poppins
      bg-gradient-to-b from-Teal to-Dark
   }
   section {
      @apply
      hidden
      w-full h-full
   }
   h1 {
      @apply
      font-medium text-3xl font-Comfortaa
   }

   /* Atoms */
   .Icon {
      @apply w-6 h-6
   }
   .BtnTour {
      @apply
      pt-1.5 px-4 pb-1
      font-normal text-sm font-Comfortaa
      text-Teal bg-Dark rounded
   }
   .BtnLink {
      @apply
      Icon
      hover:scale-110
      fill-WhiteGlass hover:fill-white
      md:fill-DarkGlass md:hover:fill-Dark
   }
   .BtnIcon {
      @apply
      Icon
      fill-WhiteGlass hover:fill-Teal
      cursor-pointer
   }
   .SectionTitle {
      @apply
      flex grow
      font-normal font-Comfortaa
      text-WhiteGlass
   }

   /* Molecules */
   .BtnLinkGroup {
      @apply
      absolute left-4 bottom-12
      hidden justify-between items-center
      w-72 h-12 px-4
      bg-DarkGlass rounded-md
      [&>a>svg]:BtnLink
   }
   .BtnSection {
      @apply
      flex justify-center gap-x-2.5
      px-4 md:px-2 py-2
      font-normal text-lg font-Comfortaa
      text-WhiteGlass hover:text-Teal hover:bg-TealGlass rounded
      fill-WhiteGlass hover:fill-Teal
      [&>svg]:Icon
      [&>div]:flex md:[&>div]:hidden [&>div]:grow
   }
   .AdminDetails {
      @apply
      flex md:hidden flex-col grow
      font-medium font-Comfortaa text-WhiteGlass
      first:[&>div]:text-lg last:[&>div]:text-sm
   }

   /* Components */
   .LogoGroup {
      @apply
      flex justify-center
      md:[&>a]:hidden
      [&>a]:mr-auto
      [&>svg]:BtnIcon
      [&>svg]:hidden md:[&>svg]:block
   }
   .BtnGroup {
      @apply
      flex flex-col gap-y-5
      [&_button]:BtnSection
   }
   .AdminGroup {
      @apply
      flex justify-center gap-2.5
      [&>div]:AdminDetails
   }

   /* Actives */
   .BtnLinkGroup.Active {
      @apply
      flex
      !important
   }
   .SideBar.Active {
      @apply
      flex
      md:w-72 md:px-3
      md:[&_a]:inline
      md:[&_button]:px-4
      md:[&_button>div]:flex
      md:last:[&>div>div]:flex
   }
   button.Active {
      @apply
      text-Teal
      fill-Teal
      !important
   }
   section.Active {
      @apply
      flex
      !important
   }

   /* Structure */
   .Loading {
      @apply
      fixed top-0 left-0 z-100
      flex justify-center items-center
      w-screen h-screen
      bg-Dark
   }
   .SideBar {
      @apply
      fixed top-0 left-0 z-90
      hidden md:flex flex-col justify-between gap-y-5 overflow-x-hidden
      w-72 md:w-14 h-full p-3 md:px-2
      bg-DarkGlass
      backdrop-blur
   }
   .TopBar {
      @apply
      relative top-0 left-0 z-80
      flex md:hidden justify-between items-center
      h-12 w-full px-4 pt-2
      [&_button]:BtnTour
   }
   .MainFrame {
      @apply
      static md:relative top-0 left-14 z-0
      overflow-hidden
      w-full h-[calc(100%_-_6rem)] p-7
      md:w-[calc(100%_-_3.5rem)] md:h-full
   }
   .BottomBar {
      @apply
      fixed bottom-0 left-0 z-80
      flex md:hidden justify-start items-start gap-x-2.5
      w-full h-12 px-4 pt-2
      [&>svg]:BtnIcon
      [&>span]:SectionTitle
   }
}