@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@tailwind base;

@layer base {

   :root{
      --Red: 255 0 81; 
      --Dark: 9 11 16;
      --Teal: 167 241 225;
      --White: 225 225 225;
   }


   /* HTML */
   body {
      @apply
      overflow-x-hidden
      w-screen h-screen
      font-light text-lg font-Poppins
      bg-gradient-to-b from-Teal to-Dark
   }
   section {
      @apply
      w-full h-full
   }
   h1 {
      @apply
      font-medium text-3xl font-Comfortaa
   }


   /* CSS !important */
   .Flex {
      @apply flex !important 
   }


   /* Atoms */
   .IconLink {
      @apply
      w-6 h-6
      hover:scale-110
      fill-WhiteGlass hover:fill-white
      md:fill-DarkGlass md:hover:fill-Dark
   }
   .LogoDark {
      @apply
      w-[8.5rem] h-6
      fill-Dark
   }
   .LogoLight {
      @apply
      w-[8.5rem] h-6
      fill-WhiteGlass hover:fill-Teal
   }
   .BtnTour {
      @apply
      pt-1.5 px-4 pb-1
      font-normal text-sm font-Comfortaa
      text-Teal bg-Dark rounded
   }
   .BtnIcon {
      @apply
      w-6 h-6
      fill-WhiteGlass hover:fill-Teal
      cursor-pointer
   }
   .BtnMenu {
      @apply
      BtnIcon
      hidden md:flex
   }
   .BUTTON {
      @apply
      text-Teal
      fill-Teal
      !important
   }
   .TitleCurrentSection {
      @apply
      flex grow
      font-normal font-Comfortaa
      text-WhiteGlass
   }


   /* Molecules */
   .LogoLink {
      @apply
      flex md:hidden grow
      [&_svg]:LogoLight
   }
   .RowLinks {
      @apply
      absolute left-4 bottom-12
      hidden justify-between items-center
      w-72 h-12 px-4
      bg-DarkGlass rounded-md
      [&_svg]:IconLink
   }
   .BtnSection {
      @apply
      flex justify-center gap-x-2.5
      px-4 md:px-2 py-2
      font-normal text-lg font-Comfortaa
      text-WhiteGlass hover:text-Teal hover:bg-TealGlass rounded
      fill-WhiteGlass hover:fill-Teal
      [&_svg]:w-6 [&_svg]:h-6
      [&_div]:flex md:[&_div]:hidden [&_div]:grow
   }
   .AdminDetails {
      @apply
      flex md:hidden flex-col grow
      font-medium font-Comfortaa text-WhiteGlass
      first:[&_div]:text-lg last:[&_div]:text-sm
   }


   /* Components */
   .LogoGroup {
      @apply
      flex justify-center
      [&_a]:LogoLink
      [&>svg]:BtnMenu
   }
   .BtnGroup {
      @apply
      flex flex-col gap-y-5
      [&_button]:BtnSection
   }
   .AdminGroup {
      @apply
      flex justify-center gap-2.5
      [&>div]:AdminDetails
   }


   /* Structure */
   .Loading {
      @apply
      fixed top-0 left-0 z-100
      hidden justify-center items-center
      w-screen h-screen
      bg-Dark
   }
   .SideBar {
      @apply
      fixed top-0 left-0 z-90
      hidden md:flex flex-col justify-between gap-y-5 overflow-x-hidden
      w-72 md:w-14 h-full px-3 md:px-2 py-3
      bg-DarkGlass
      backdrop-blur
   }
   .SBExtend {
      @apply
      md:w-72 md:px-3
      md:[&_a]:flex
      md:[&_button_div]:flex
      md:last:[&_div_div]:flex
   }
   .TopBar {
      @apply
      relative top-0 left-0 z-80
      flex md:hidden justify-between items-center
      h-12 w-full px-4 pt-2
      [&_svg]:LogoDark
      [&_button]:BtnTour
   }
   .MainFrame {
      @apply
      static md:relative top-0 left-14 z-0
      overflow-x-hidden overflow-y-auto
      w-full h-[calc(100%_-_6rem)] p-7
      md:w-[calc(100%_-_3.5rem)] md:h-full
   }
   .BottomBar {
      @apply
      fixed bottom-0 left-0 z-80
      flex md:hidden justify-start items-start gap-x-2.5
      w-full h-12 px-4 pt-2
      [&>svg]:BtnIcon
      [&>span]:TitleCurrentSection
   }


   /* Sections Templates */
   #Home {
      @apply
      flex flex-col md:flex-row justify-evenly items-center
   }
   #Home article {
      @apply
      flex flex-col items-center md:items-start gap-y-2.5 md:gap-y-5
      max-w-lg
   }
   #Home article p {
      @apply
      text-center md:text-left
   }
   #Home article div {
      @apply
      hidden md:flex gap-x-12
      backdrop-blur
      [&_svg]:IconLink
   }
   #Home article button {
      @apply
      BtnTour
      hidden md:block
   }
   #Home img {
      @apply
      md:ml-5 lg:ml-0 lg:mr-10
   }
}

/* @tailwind components; */
/* @tailwind utilities; */

/* Update style.css:
npx tailwindcss -c ./tailwind.config.js -i ./src/input.css -o ./public/style.css 
*/