@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@tailwind base;

@layer base {

   /* HTML */
   body {
      @apply
      overflow-x-hidden
      w-screen h-screen
      font-light text-lg font-Poppins
      bg-gradient-to-b from-Teal to-Dark
   }
   section {
      @apply
      w-full h-full
   }
   h1 {
      @apply
      font-medium text-3xl font-Comfortaa
   }

   /* Atoms */
   .Logo {
      @apply
      w-[8.5rem] h-6
      fill-Dark
   }
   .Icon {
      @apply
      w-6 h-6
   }
   .BtnTour {
      @apply
      pt-1.5 px-4 pb-1
      font-normal text-sm font-Comfortaa
      text-Teal bg-Dark rounded
   }
   .TitleCurrentSection {
      @apply
      flex grow
      font-normal font-Comfortaa
      text-white
   }

   /* Primary Molecules */
   .LogoLink {
      @apply
      flex grow
      [&_svg]:Logo [&_svg]:fill-white
   }
   .IconLink {
      @apply
      Icon
      fill-Dark/[.60] hover:fill-Dark
   }
   .IconAction {
      @apply
      Icon
      fill-white hover:fill-Teal
      cursor-pointer
   }
   .BtnSection {
      @apply
      flex justify-center gap-x-2.5
      px-4 md:px-2 py-2
      font-normal text-lg font-Comfortaa
      text-white hover:text-Teal hover:bg-Teal/[.20] rounded
      fill-white hover:fill-Teal
      [&_svg]:Icon
      [&_div]:flex md:[&_div]:hidden [&_div]:grow
   }
   .AdminDetails {
      @apply
      flex flex-col grow
      font-medium font-Comfortaa text-white
      first:[&_div]:text-lg last:[&_div]:text-sm
   }
   .AtomActive {
      @apply
      absolute left-4 bottom-12
      hidden justify-between items-center
      w-72 h-12 px-4
      bg-Dark/[.60] rounded-md
      [&_svg]:IconLink
   }

   /* Secondary Molecules */
   .LogoGroup {
      @apply
      flex justify-center
      [&>a]:LogoLink
      md:[&>a]:hidden
      [&>svg]:IconAction
      [&>svg]:hidden md:[&>svg]:flex
   }
   .BtnGroup {
      @apply
      flex flex-col gap-y-5
      [&_button]:BtnSection
   }
   .AdminGroup {
      @apply
      flex justify-center gap-2.5
      [&>div]:AdminDetails
      md:[&>div]:hidden
   }

   /* Components */
   .Loading {
      @apply
      fixed top-0 left-0 z-100
      hidden justify-center items-center
      w-screen h-screen
      bg-Dark
   }
   .SideBar {
      @apply
      fixed top-0 left-0 z-90
      flex flex-col justify-between gap-y-5 overflow-x-hidden
      w-64 md:w-14 h-screen px-3 md:px-2 py-3
      bg-Dark/[.60]
      backdrop-blur
   }
   .TopBar {
      @apply
      relative top-0 left-0 z-80
      flex md:hidden justify-between items-center
      h-12 w-full px-4 pt-2
      [&_svg]:Logo [&_svg]:fill-Dark
      [&_button]:BtnTour
   }
   .MainSection {
      @apply
      static md:relative top-0 left-14 z-0
      overflow-x-hidden overflow-y-auto
      w-full h-[calc(100%_-_6rem)] p-7
      md:w-[calc(100%_-_3.5rem)] md:h-full
   }
   .BottomBar {
      @apply
      fixed bottom-0 left-0 z-80
      flex md:hidden justify-start items-start gap-x-2.5
      w-full h-12 px-4 pt-2
      [&_svg]:IconAction
      [&_span]:TitleCurrentSection
   }

   /* Sections Templates */
   #Home {
      @apply
      flex flex-col md:flex-row justify-evenly items-center
      md:[&_img]:pl-5
   }
   #Home article {
      @apply
      flex flex-col items-center md:items-start gap-y-2.5 md:gap-y-5
      max-w-lg
      [&_p]:text-center md:[&_p]:text-left
      [&_div]:hidden md:[&_div]:flex [&_div]:gap-x-12
      [&_svg]:IconLink
      [&_button]:hidden md:[&_button]:block
      [&_button]:BtnTour
   }
}

/* @tailwind components; */
/* @tailwind utilities; */

/* Update style.css:
npx tailwindcss -c ./tailwind.config.js -i ./src/input.css -o ./public/style.css 
*/